server:
  port: 8080

#spring:
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:testdb
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#    generate-unique-name: true
#    schema:
#      - classpath:schema.sql
#      - classpath:test.sql
#    initialization-mode: always

mybatis:
  mapper-locations: sql-mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

management:
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
      cache:
        time-to-live: 1s